body {
  font-family: RobotoDraft, Helvetica, Arial, sans-serif;
}

catalog-app {
  overflow: hidden;
}

.logo {
  font-size: 20px;
}

.logo a {
  color: #000;
  text-decoration: none;
}

.logo h1 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.logo img {
  margin: 0 12px 0 0;
}