body {
  font-family: RobotoDraft, sans-serif;
}

core-toolbar {
  height: 64px;
  background: #2196F3;
  color: white;
  transition: height 450ms cubic-bezier(0.55, 0, 0.1, 1);
}

core-toolbar a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0 8px;
  margin: 0 4px;
}