:host {
  background: var(--secondary-background-color);
}

a {
  color: black;
  text-decoration: none;
}

#container {
  background: var(--secondary-background-color);
}

app-bar .menu-icon {
  margin-right: 15px;
}

.elements-title {
  width: 80%;
  max-width: 920px;
  margin: 0 auto;
  padding: 2px 0;
  box-sizing: border-box;
}

.elements-title h2 {
  @apply(--paper-font-title);
  color: var(--primary-text-color);
}

.elements-title iron-icon {
  cursor: pointer;
  color: var(--primary-text-color);
  margin-left: 10px;
}

#element-cards, #element-table {
  width: 80%;
  max-width: 920px;
  margin: 10px auto;
  box-sizing: border-box;
}

#element-table {
  border-collapse: collapse;
  background: white;
  border-radius: 3px;
}

#element-table td, #element-table th {
  padding: 20px 16px;
}

#element-table th {
  @apply(--paper-font-body1);
  color: var(--secondary-text-color);
  text-align: left;
  border-bottom: 1px solid;
  border-bottom-color: var(--divider-color);
}

#element-table tbody tr {
  cursor: pointer;
  overflow: hidden;
}

#element-table element-action-menu {
  transition: transform 0.2s;
  transform: translateY(100%);
  background: #E91E63;
  color: white;
}

#element-table .description {
  overflow: hidden;
}

#element-table element-action-menu::shadow a {
  color: rgba(255,255,255,0.85);
}

#element-table element-action-menu::shadow a:hover {
  color: white;
}

#element-table tbody tr:hover element-action-menu {
  transform: translateY(0);
}

#element-table tbody tr:hover {
  background: #fafafa;
}

#element-table a {
  font-weight: bold;
}

#element-table a, #element-tableiron-icon {
  cursor: pointer;
}

[size=xs] #element-table.description {
  display: none;
}

#element-table .name {
  font-weight: 600;
  white-space: nowrap;
}

#element-table .description {
  color: var(--secondary-text-color);
  line-height: 24px;
}

#element-cards {

}

[size=xs] #element-cards,
[size=s] #element-cards,
[size=m] #element-cards {
  width: 100%;
  margin: 0;
  padding: 10px 0 10px 16px;
}

[size=xs] #element-cards element-card {
  width: 100%;
  margin: 0 0 20px;
}

[size=s] #element-cards element-card {
  width: calc(50% - 20px);
}

responsive-element[size=xs].layout {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

[size=xs] app-sidebar {
  min-width: 100%;
  height: auto;
}

[size=xs] app-sidebar paper-toolbar /deep/ #topBar {
  padding: 0 16px;
}

app-sidebar paper-toolbar {
  --paper-toolbar-background: #fafafa;
  --paper-toolbar: {
    border-bottom: 1px solid;
    border-bottom-color: var(--divider-color);
    box-sizing: border-box;
  }
}

#container {
  overflow: auto;
}

#package-tag {
  display: none;
}

#package-info {
  position: relative;
}

#package-header {
  position: relative;
  padding: 20px 16px 0;
  overflow: hidden;
}

#package-header iron-icon {
  cursor: pointer;
}

#package-header package-symbol {
  display: inline-block;
  margin: 0 0 20px;
  transform: translate(-50px, 0);
  opacity: 0;
  transition: var(--material-curve-320);
}

#package-title {
  @apply(--paper-font-title);
  margin: 0 0 20px;
  transform: translate(-50px, 0);
  opacity: 0;
  transition: var(--material-curve-320);
}

#package-tagline {
  @apply(--paper-font-body1);
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding-right: 80px;
  transform: translate(-50px, 0);
  opacity: 0;
  transition: var(--material-curve-320);
}

#package-version {
  position: absolute;
  top: 24px;
  right: 16px;
  transform: translate(50px, 0);
  opacity: 0;
  transition: var(--material-curve-320);
}

#package-desc {
  margin: 0;
}

[size=xs] #package-title {
  margin-bottom: 0;
}

[size=xs] #package-tagline {
  display: none;
}

[size=xs] #package-tagline {
  margin-top: 0;
}

.active #package-header package-symbol,
.active #package-title,
.active #package-tagline {
  transform: translate(0, 0);
  opacity: 1;
}

.active #package-version {
  transform: translate(0, 0);
  opacity: 0.6;
}

#package-list {
  padding: 10px 0;
}

#package-list h5 {
  margin: 10px 0;
  padding: 0 16px;
  color: rgba(0,0,0,.54);
  font-weight: 500;
}

#package-list .package {
  display: block;
  padding: 10px 16px;
  font-weight: 500;
  color: rgba(0,0,0,.87);
  text-transform: none;
  cursor: pointer;
}

#package-list .package package-symbol {
  margin-right: 15px;
}

[size=xs] .elements-title,
[size=s] .elements-title,
[size=m] .elements-title {
  width: 100%;
  margin: 0;
  padding: 2px 16px;
}

[size=xs] #element-table,
[size=s] #element-table,
[size=m] #element-table {
  margin: 10px 16px;
  width: calc(100% - 32px);
}

#current-tag {
  background: #2196F3;
  color: rgba(255,255,255,0.87);
  padding: 12px;
  font-size: 16px;
}

#current-tag b {
  margin-right: 6px;
}

#current-tag span {
  text-transform: uppercase;
}

.tags tag-link:last-of-type + span {
  display: none;
}

[view=cards] #element-table {
  display: none;
}

[view=table] #element-cards {
  display: none;
}