responsive-element[size=xs].layout {
  flex-direction: column;
}

[size=xs] app-sidebar {
  min-width: 100%;
  height: auto;
}

app-sidebar paper-toolbar {
  --paper-toolbar-background: #fafafa;
  --paper-toolbar: {
    border-bottom: 1px solid;
    border-bottom-color: var(--divider-color);
    box-sizing: border-box;
  }
}

[size=xs] app-sidebar paper-toolbar /deep/ #topBar {
  padding: 0 16px;
}

package-symbol {
  display: inline-block;
  margin: 0 0 20px;
  cursor: pointer;
}

#element-desc p {
  margin-bottom: 0;
}

#element-tags tag-link:last-of-type + span {
  display: none;
}

[size=xs] .section {
  display: none;
}

paper-item {
  cursor: pointer;
}