responsive-element[size=xs].layout {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

[size=xs] app-sidebar {
  min-width: 100%;
  height: auto;
}

[size=xs] app-sidebar paper-toolbar /deep/ #topBar {
  padding: 0 16px;
}

#docs {
  max-width: 52em;
  margin: 0 auto;
}

#element-header {
  padding: 20px 16px;
  background: #ccc;
  box-shadow: inset 0px 5px 6px -3px rgba(0,0,0,0.4);
  overflow: hidden;
}

#element-header iron-icon {
  cursor: pointer;
}

.section {
  padding: 0 16px;
}

[size=xs] .section {
  display: none;
}

#package {
  font-size: 1.1em;
  margin: 8px;
  margin: 12px 0;
}

#package-symbol {
  display: inline-block;
  padding: 6px;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 900;
  line-height: 18px;
}

#package-title {
  font-weight: 600;
}

paper-item {
  cursor: pointer;
}

#links a { margin: 0 8px; cursor: pointer; }
#links a, #links iron-icon {
  font-weight: normal;
  color: #777;
}

#links .iron-selected {
  color: #333;
}

#content {
  background: #eee;
  padding: 30px;
  overflow: auto;
}

#content > div {
  display: none;
}

#content > .iron-selected {
  display: block;
}

#demo {
  overflow: hidden;
}
#demo-frame {
  border: 0;
  background: transparent;
  width: 100%;
  height: 100%;
}

[size=xs] #content, [size=s] #content {
  padding: 0;
}