:host {
  display: block;
  width: calc(33% - 20px);
  min-width: 220px;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.1s;
}

:host(:hover) {
  @apply(--shadow-elevation-2dp);
}

#content {
  background: white;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 10px 16px 0;
}

p {
  margin: 0;
}

#el {
  cursor: pointer;
}

#el-graphic {
  position: relative;
  width: 100%;
  height: 120px;
  background: #ccc;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}

#el-graphic hero-image {
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  opacity: 0.85;
}

#el-package package-symbol {
  margin: 0 15px 0 0;
}

.meta {
  @apply(--paper-font-caption);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--divider-color);
  padding: 10px 16px;
}

.meta + .meta {
  border-top: 0;
}

.meta:last-child {
  border-bottom: 0;
}

element-action-menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 64px;
  padding: 10px 16px;
  background: rgba(255,255,255,0.95);
  box-sizing: border-box;
}

@media (min-width: 840px) {
  element-action-menu {
    transform: translate(0, 20px);
    transition: var(--material-curve-320);
    opacity: 0;
    visibility: hidden;
  }
}
@media (max-width: 839px) {
  #el-graphic {
    height: 210px !important;
  }
  #el-graphic hero-image {
    bottom: 64px !important;
  }
}

#el-graphic:hover element-action-menu {
  visibility: visible;
  transform: translate(0, 0);
  opacity: 1;
}

#el-desc {
  @apply(--paper-font-body1);
  color: var(--secondary-text-color);
  margin: 0;
  padding: 10px 16px;
  height: 75px;
}

#el-package {
  font-weight: 500;
}

#el-tags iron-icon {
  margin: 0 15px 0 0;
  padding: 5px;
  color: var(--secondary-text-color);
  --iron-icon-size: 18px;
}

#el-tags tag-link {
  margin-right: 4px;
}

#el-tags tag-link:after {
  margin-left: -3px;
  content: ",";
}

#el-tags tag-link:last-of-type:after {
  content: "";
}